############################################################
# HookFreight configuration (copy to ".env" to use locally)
############################################################

HOOKFREIGHT_PORT=3030
HOOKFREIGHT_HOST=0.0.0.0
HOOKFREIGHT_BASE_URL=http://localhost:3030
HOOKFREIGHT_MONGO_URI=mongodb+srv://user:password@cluster.id.mongodb.net/?appName=AppName
HOOKFREIGHT_MONGO_DB_NAME=db_name
HOOKFREIGHT_MAX_BODY_BYTES=1048576
